page-user-agreement {
    .agree-padding{
        padding: 10px;
        text-align: center;
        font-weight: bold;
    }
    .agree-content{
        padding: 10px;
        color: #333333;
    }
}
