page-sec-reg {
    background-image: url('/assets/img/bg/city.jpeg');
    background-position: center;
    background-size: cover;
    ion-content{
      background: none;
    }
    .bg{
      background-color: #EAEEF4;
    }
    .yewu{
      background-color: #F3F5F9;
    }
    .mycol{
     background-color: #ffffff;
      opacity: 1;
    }
    img{
      width: 50px;
      height: 50px;
      position: relative;
      left: -10px;
    }
    .chedckbox{
      zoom: 150%;
      position: relative;
      left: -10px;
      top: -18px;
    }
  .grid{
    padding: 0px;
  }
  .col{
    padding: 0px;
    background-color: #ffffff;
    border:1px solid #cccccc;
  }
  h4{
    margin-top: 0px;
    font-size: 14px !important;
    font-weight: 600;
    margin-bottom: 0px;
  }
  p{
    font-size: 12px !important;
  }
  .text{
    text-align: left;
    margin-left: 2px;
  }
  .mydiv{
    width: 4px;
    background-color: #1f83df;
    height: 16px;
    position: absolute;
  }
  .finbutton{
    background-color: #28BD6D;
    color: #ffffff;
    width: 60%;
    margin-left: 20%;
    margin-top: 10px;
  }



}
