page-register {
    .verification {
      position: absolute;
      right: 0;
      top: 90px;
    }
    .list{
      margin: 50px 16px;
      .item:first-child{
          border-top: none;
      }
      .item{
        padding-left: 0px;
        border-bottom: 1px solid #c8c7cc;
        .item-inner{
            border-bottom: none;
        }
        .label{
          .checkCode{
            width: 60%;
            border: none;
          }
          .getVcode{
            width: 40%;
            border-left: 0.55px solid #c8c7cc;
            text-align: center;
            display: inline-block;
          }
        }
      }
    }
  }