page-message {
    .title{
        .title-right{
            color: #756d6d;
            float: right;
            margin-right: 10px;
            font-size: 0.8em;
        }
    }
    .sub-title{
        color: #756d6d;
        font-size: 0.8em;
    }

}
