<ion-content class="bg-slight">

  <div class="languages">
    <div class="desc" (click)="showLanguages=!showLanguages">语种&gt;</div>
    <div class="items-wrap" *ngIf="showLanguages">
      <div class="oneitem">
        <img src="assets/img/country/guoqi.png" />中</div>
      <div class="oneitem">
        <img src="assets/img/country/yingguo.png" />英</div>
      <div class="oneitem">
        <img src="assets/img/country/riben.png" />日</div>
      <div class="oneitem">
        <img src="assets/img/country/hanguo1.png" />韩</div>
      <div class="oneitem">
        <img src="assets/img/country/deguo.png" />德</div>
      <div class="oneitem">
        <img src="assets/img/country/eluosi.png" />俄</div>
    </div>
  </div>

  <ion-slides #ionSlides [loop]="true" [pager]="true" autoplay="2000" *ngIf="itemsSlide&&itemsSlide.length>0">
    <ion-slide *ngFor="let item of itemsSlide" tappable>
      <img src="{{item.path}}">
    </ion-slide>
  </ion-slides>

  <ion-grid class="menu-bg">
    <ion-row>
      <ion-col col-3 text-center tappable [navPush]="'ModuleDescPage'">
        <ion-icon class="menu" name="ios-apps-outline"></ion-icon>
        <p>功能介绍</p>
        <div class="menu-speline"></div>
      </ion-col>
      <ion-col col-3 text-center tappable [navPush]="'BizProcessPage'">
        <ion-icon class="menu" name="ios-cafe-outline"></ion-icon>
        <p>业务办理</p>
        <div class="menu-speline"></div>
      </ion-col>
      <ion-col col-3 text-center tappable [navPush]="'GuidesPage'">
        <ion-icon class="menu" name="ios-compass-outline"></ion-icon>
        <p>操作指南</p>
        <div class="menu-speline"></div>
      </ion-col>
      <ion-col col-3 text-center tappable [navPush]="'LawsPage'">
        <ion-icon class="menu" name="ios-book-outline"></ion-icon>
        <p>法律法规</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3 text-center tappable [navPush]="'NoticesPage'">
        <ion-icon class="menu" name="ios-megaphone-outline"></ion-icon>
        <p>通知公告</p>
        <div class="menu-speline"></div>
      </ion-col>
      <ion-col col-3 text-center tappable [navPush]="'WarningsPage'">
        <ion-icon class="menu" name="ios-warning-outline"></ion-icon>
        <p>风险预警</p>
        <div class="menu-speline"></div>
      </ion-col>
      <ion-col col-3 text-center tappable [navPush]="'DownloadZonePage'">
        <ion-icon class="menu" name="ios-cloud-download-outline"></ion-icon>
        <p>下载专区</p>
        <div class="menu-speline"></div>
      </ion-col>
      <ion-col col-3 text-center tappable [navPush]="'AddOtherPage'">
        <ion-icon class="menu" name="ios-add-circle-outline"></ion-icon>
        <p>添加其他</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list class="mid-list">
    <ion-item detail-push no-lines>
      <ion-icon item-start>
        <img src="assets/img/xin.png" />
      </ion-icon>
      您的体检结果已发布
      <span class="color-muted" margin-left>2小时前</span>
    </ion-item>
    <ion-item detail-push no-lines>
      <ion-icon item-start>
        <img src="assets/img/xin.png" />
      </ion-icon>
      您的体检结果已发布
      <span class="color-muted" margin-left>2小时前</span>
    </ion-item>
  </ion-list>

  <img src="assets/img/bg/three.png" />

</ion-content>