page-home {

  .languages{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 999;
    color: #fff;
    .desc{
      float: left;
      margin-right: 5px;
      margin-top: 10px;
    }
    .items-wrap{
      float: left;
      padding: 5px;
      background-color: #fff;
      color: #000;
      border-radius: 15px;
      .oneitem{
        margin-bottom: 5px;
      }
      img{
        width: 20px;
        margin-right: 2px;
        float: left;
      }
    }
  }

  ion-slides {
    height: 200px;
    .swiper-container{
      .swiper-pagination-bullets{
        bottom: 15px;
      }
    }
    .swiper-pagination-bullet-active{
      background: #fff;
    }
  }

  .menu-bg {
    z-index: 99;
    position: relative;
    background-color: #fff;
    margin-bottom: 10px;
    ion-row{
      z-index: 99;
    }
    img{
      width: 60%;
      margin-top: 10px;
    }
  }
  .top-search{
    position: absolute;
    z-index: 999;
    .searchbar-ios{
      background: none;
    }
    .searchbar-input{
      border-radius: 20px;
    }
    .searchbar-search-icon{
      top: 12px;
    }
    ion-searchbar{
      border-bottom: 0px;
    }
    ion-icon{
      font-size: 2.5em;
    }
    ion-badge{
      position: absolute;
    }
  }
  .news-list{
    .item-block .item-inner{
      border-bottom: 0.5px solid map-get($colors, 'slight');
    }
    h2{
      line-height: 2.0em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .text-left{
      float: left;
      line-height: 2.0em;
    }
    .text-right{
      float: right;
      line-height: 2.0em;
    }
    img{
      border-radius: 10px;
      width: 80px;
    }
  }

  ion-icon img{
    width: 36px;
  }

  .mid-list{
    margin-bottom: 10px;
  }

}

.menu-speline{
  position: absolute;
  border-right: 1px solid map-get($map: $colors, $key: 'slight');
  height: 30%;
  right: 0px;
  top: 30%;
}
