page-login {
    .list{
        margin: 50px 16px;
        .item:first-child{
            border-top: none;
        }
        .item{
            padding-left: 0px;
            border-bottom: 1px solid #c8c7cc;
            .item-inner{
                border-bottom: none;
            }
        }
        .item:last-child{
            border-bottom: 0.55px solid #c8c7cc;
        }
    }
}