::-webkit-scrollbar {
  display: none !important;
}
.w100{
  width: 100%;
}
.scroll {
  height: 100%;
}
.border{
  border: 1px solid rgba(242, 242, 242, 1);
}
.border-bottom{
  border-bottom: 1px solid rgba(242, 242, 242, 1);
}
.border-left{
  border-left: 1px solid rgba(242, 242, 242, 1);
}
.border-right{
  border-right: 1px solid rgba(242, 242, 242, 1);
}
.border-top{
  border-top: 1px solid rgba(242, 242, 242, 1);
}
.border-color-main{
  border-color: #2EC075;
}
.border-color-white{
  border-color: white;
}
.border-weight{
  border-width: 5px;
}
.border-none{
  border: none;
}
.border-circle{
  border-radius: 50%;
}
.border-radius{
  border-radius: 5px;
}
.line-spe{width: 100%; height: 8px; background-color: map-get($colors, 'slight');}
.nowrap{
  white-space: nowrap;
}
.overflow{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*段落*/
.paragraph{
  text-indent: 2em;
  line-height: 1.5em;
}
/*固定行文字*/
p.text1 {
  /*单行*/
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  white-space: nowrap;
}
p.text2 {
  /*多行*/
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
}

/*自定义checkbox icon*/
.checkbox-icon-my{color: #eee; display: inline-block;}
.checkbox-icon-my.checked:before{
  background: #387ef5;
  border-color: #387ef5;
}
.checkbox-icon-my.checked:after{
  -webkit-transition: opacity 0.05s ease-in-out;
  -moz-transition: opacity 0.05s ease-in-out;
  transition: opacity 0.05s ease-in-out;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 30%;
  left: 26%;
  display: table;
  width: 15px;
  height: 10.33333px;
  border: 3px solid #fff;
  border-top: 0;
  border-right: 0;
  content: ' ';
  opacity: 0;
}
.f12{font-size:12px !important;}
.f13{font-size:13px !important;}
.f14{font-size:14px !important;}
.f15{font-size:15px !important;}
.f16{font-size:16px !important;}
.f18{font-size:18px !important;}
.f20{font-size:20px !important;}
.f24{font-size:24px !important;}
.f30{font-size:30px !important;}
.f32{font-size:32px !important;}
.f36{font-size:36px !important;}
.f50{font-size:50px !important;}

/*右下角三角*/
.small-triangle{
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #11c1f3;
  position: absolute;
  right: 3px;
  bottom: 10px;
}
//顶部标题栏
.toolbar-background{
  background: #27A0F0 !important;
}
.toolbar-title-ios {
  overflow: visible;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  color: #FFFFFF;
  pointer-events: auto;
}
//返回按钮颜色
.backbutton {
  color: #FFFFFF;
}
.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
  border-bottom: 0px;
}

// 通用小标题
.common-title{
  border-bottom: 1px solid map-get($colors, 'light');
  padding: 10px;
  font-size: 16px;
  .title{
    display: inline-block;
    padding-left: 10px;
    border-left: 5px solid map-get($colors, 'primary');
    font-weight: bold;
  }
  .more{
    float: right;
    color: map-get($colors, 'light');
    margin-right: 5px;
  }

}
.back-button.show-back-button{
  color: #ffffff;
}



// 通用颜色
.color-primary{
  color: map-get($colors, 'primary');
}
.color-muted{
  color: map-get($colors, 'muted');
}
.color-light{
  color: map-get($colors, 'light');
}
// 通用背景色
.bg-light{
  background-color: map-get($colors, 'light');
}
.bg-slight{
  background-color: map-get($colors, 'slight');
}

// 全局样式
.content{
  color: #3e3c3c;
}
