page-module-desc {

    .onezone{
        border-bottom: 2px solid #eee;
        .zonetitle{
            color: map-get($colors, 'primary');
            img{
                width: 50px;
            }

        }
        .zonecontent{
            
        }
    }

}
