page-baseinfo {
      .maincolor{
        background-color: #00FFFF;
        margin-bottom: 2px;
      }
      .shibie{
        width: 50%;
        margin-left: 25%;
        color: #ffffff;
      }
      .headerarea{
        background-color: #F0EFF5;
      }
      .myinput{
        border: 0px;
        width: 100%;
      }
      .grid{
        padding: 0px;
      }
      .col{
        padding: 0px;
      }
      .pboder{
               width: 20px;
               height: 20px;
               border: 1px solid;
               border-radius: 50%;
               text-align: center;
             }
      .pboderyes{
        width: 20px;
        height: 20px;
        border: 1px solid #1f83df;
        border-radius: 50%;
        text-align: center;
        color: #1f83df;
      }

}
