<ion-header>
    <ion-toolbar>
      <ion-title>
        重置密码
      </ion-title>
      <ion-buttons>
        <button ion-button (click)="dismiss()">关闭</button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <form [formGroup]="findPasswordForm" (ngSubmit)="confirm()">
      <ion-list>
        <ion-item>
          <ion-icon item-start name="phone-portrait"></ion-icon>
          <ion-input type="number" placeholder="请输入手机号码" formControlName="phone"></ion-input>
        </ion-item>
        <span padding-left *ngIf="!findPasswordForm.controls.phone.valid&& findPasswordForm.controls.phone.touched" color="danger">请输入手机号码</span>
        <ion-item>
          <ion-icon item-start name="key-outline"></ion-icon>
          <input class="checkCode" type="number" placeholder="请输入验证码" formControlName="verificationCode" /><span class="getVcode">获取验证码</span>
        </ion-item>
        <span padding-left *ngIf="!findPasswordForm.controls.verificationCode.valid&& findPasswordForm.controls.verificationCode.touched" color="danger">请输入验证码</span>
        <ion-item>
          <ion-icon item-start name="lock-outline"></ion-icon>
          <ion-input type="password" placeholder="请输入新密码（6-12位数字、字母组合）" formControlName="newPassword"></ion-input>
        </ion-item>
        <span padding-left *ngIf="!findPasswordForm.controls.newPassword.valid&& findPasswordForm.controls.newPassword.touched" color="danger">请输入新密码</span>
        <ion-item>
          <ion-icon item-start name="lock-outline"></ion-icon>
          <ion-input type="password" placeholder="请再次输入新密码" formControlName="secnewPassword"></ion-input>
        </ion-item>
        <span padding-left *ngIf="!findPasswordForm.controls.newPassword.valid&& findPasswordForm.controls.newPassword.touched" color="danger">请再次输入新密码</span>
      </ion-list>
      <div padding-horizontal>
        <button ion-button block type="submit" [disabled]="!findPasswordForm.valid">确　认</button>
      </div>
      <!--<button class="verification" ion-button small color="secondary" *ngIf="findPasswordForm.controls.phone.valid">获取验证码</button>-->
    </form>
  </ion-content>
